<div class="m-5">
<h1><%=@restaurant.name%></h1>
<h4><%=@restaurant.category.capitalize%></h4>
<h4><%=@restaurant.address%></h4>
<h4><%=@restaurant.phone_number%></h4>
<div>

<button class="btn btn-light"><%=link_to "â¬…ï¸", restaurants_path %></button>
<button class="btn btn-light"><%=link_to "Write a review ðŸ“", new_restaurant_review_path(@restaurant) %></button>

<p><strong>Reviews from customer about <%=@restaurant.name%></strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">
        <%= review.content %>
        <%= review.rating %>
    </li>
  <% end %>
</ul>
